<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180013964021-t78o7ar05cm2vj0a2rm8e2m6btp7frhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180013964021-t78o7ar05cm2vj0a2rm8e2m6btp7frhc</string>
	<key>API_KEY</key>
	<string>AIzaSyDlrc2cwaaIb2OBZHuxWvmq2KNoMp8zC-4</string>
	<key>GCM_SENDER_ID</key>
	<string>180013964021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postMediaSocial</string>
	<key>PROJECT_ID</key>
	<string>post-app-27835</string>
	<key>STORAGE_BUCKET</key>
	<string>post-app-27835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180013964021:ios:500be16cdcb2b37dd103bc</string>
</dict>
</plist>